:root {
    --title-color: #322153;
  --text-color: #6c6c80;
  --primary-color: #34cb79;
}
*, html {padding:0; margin:0;}
* {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: var(--title-color);
}
header {
    width: 100%;
    padding:12px;
    margin:0;
    display: flex;
    align-items: center;
    padding-left:5vw;
    border-bottom:solid 1px #32215356;
    background-color: rgb(255,255,255);
}
header img {
    width: 3vw;
    margin-right: 0.5vw;
}
.bar-menu {
    display: inline-block;
    cursor: pointer;
    margin-right:1vw;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--title-color);
    margin: 6px 0;
    transition: 0.4s;
}
  
.change-burguer-menu .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change-burguer-menu .bar2 {opacity: 0;}
  
.change-burguer-menu .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
main {
    background-color:#f0f0f5;
    min-height: 100vh;
    padding-left:5vw;
    padding-right: 5vw;
}
.navBar {
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    border:solid 1px #32215356;
    border-top: 0;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:50px;
}
.navBar button{
    padding:0px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 12px;
    color: var(--title-color);
    background-color: white;
    border:0;
    cursor: pointer;
    display: none;
    transition: 500ms;
}
.navBar button:hover{
    color:white;
    background-color:var(--title-color);
}

.show-navbar {
    animation: navBarAnimation 300ms;
    animation-fill-mode: forwards;
}
.hide-navbar {
    animation: reverseNavBarAnimation 300ms ease-in;
    animation-fill-mode: forwards;
}
@keyframes navBarAnimation {
    0% {padding:0px;}
    100% {padding: 16px;}
}
@keyframes reverseNavBarAnimation {
    0% {padding:16px;}
    100% {padding: 0px;}
}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #fff;
    padding:12px;
    background-color: #fff;
  }
  #sortTable {
    background-color: transparent;
    border: 0;
    font-weight: bolder;
    margin-left:3%;
    margin-top: 20px;
    cursor: pointer;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  tr {
    background-color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f5
  }
  .article-title {
    display: block;
    transform: scaleY(1);
    background-color: white;
    padding:12px;
    border-bottom:solid 1px #32215356;
    cursor: pointer;

  }
  article {
    transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.26s ease;
  background-color: white;
  height: auto;
  }
  .chart {
      max-width: 400px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .mask {
    background-color: rgba(0,0,0,.4);
    z-index: 9;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    height: 100vh;

  }
  .section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    grid-template-rows: auto;
    margin-bottom:50px;
  }
  .graph article{
    display: flex;
    justify-content: center;
    padding:20px; 
  }
  .hide {
    display: none !important;
}
tr td:nth-child(7){
  color:#4CAF50;
  text-align: center;
  cursor: pointer;
}
th:nth-child(7)
{
  text-align: center;
}
#PizzasTable th:nth-child(6) {
  text-align: center;
}
#PizzasTable tr td:nth-child(6) {
  cursor: pointer;
  text-align: center;
  color: #F44336;
}
table input {
  background-color: transparent;
  border:0;
}
table input::placeholder {
  color: var(--title-color);
}
table input:focus {
  background-color: #32215323;
}
.alert {
  position: fixed;
  padding:20px;
  color:white;
  top:10%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 12px;
  z-index: 99;
}
.animation {
  animation-name: fadeAway;
  animation-duration: 4s;
}
@keyframes fadeAway {
  from {opacity: 1;}
  to {opacity: 0;}
}
#success{
  background-color: rgb(76, 175, 80);
}
#error {
  background-color: rgb(244, 67, 54);
}
#addPizza {
  margin: 0% 40%;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  border:0;
  cursor: pointer;
  transition: 500ms;
  padding:12px;
}
#addPizza:hover {
  background-color: var(--title-color);
  color: white;
  border-radius: 12px;
}
#addPizzaForm {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  flex-direction: column;
  padding:30px;
  border-radius: 12px;
}
#addPizzaForm input {
  background-color: #f0f0f5;
  /* border:2px solid rgba(0,0,0,.4); */
  border:0;
  border-radius: 12px;
  font-size: 24px;
  padding:5px;
  margin:5px;
}
#addPizzaForm fieldset {
  border:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#addPizzaForm fieldset label {
 width: 48%;
}
#addPizzaForm fieldset input {
width: 95%;
border-radius: 12px;
}
#addPizzaForm input[type=submit] {
  background-color: var(--title-color);
  color: white;
  cursor: pointer;
  font-size: 44px;
  transition: 500ms;
}
#addPizzaForm input[type=submit]:hover {
  color:rgba(255,255,255,0.4);
  background-color: #281d3d;
}
#addPizzaForm h2 {
  margin-left:20px;
  margin-bottom: 10px;
  margin-top:10px;
}
#addPizzaForm h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}
#drop_zone {
  margin-top: 20px;
  background-color: rgba(153, 102, 255, 0.2);
  border:solid 2px rgba(153, 102, 255, 1);
  border-radius: 12px;
  height: 200px;
  margin-bottom:20px;
  padding:12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left:10px;
}
.button:hover {
  background: #ddd;
}
#gallery {
  display: flex;
 margin: auto;
  width: 30%;
  border-radius: 50%;
  border:8px solid rgba(153, 102, 255, 1);
}
footer {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top:30vh;
  justify-content: center;
}
footer p {
  margin-right:10px;
}